.footer, .featured-categories, .no-print-sidebar {
	display: none;
}

.post P, .article P, .article TD, .article TH, .article UL {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 10pt;
}
