body {
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
}

H1.blog-title {
	font-size: 18px;
}

P.blog-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: 24px;
	font-size: 18px;
}

.sidebar {
}

.sidebar P {
	margin-left: 10px;
	margin-right: 10px;
}

.sidebar FORM {
	margin-left: 10px;
	margin-right: 10px;
}

.section {
	margin-top: 25px;
	font-size: 14px;
	text-transform: uppercase;
	color: #AB1413;
	border-bottom: 1px dotted black ;
}

.post {
	font-family: "museo-sans", sans-serif ;
	margin-bottom: 2em;
}

.post H1 {
	font-size: 18pt;
}

.post P, .article P, .article TD, .article TH, .article UL {
	font-size: 12pt;
	line-height: 16pt;
	text-align: justify ;
}

TD {
	font-size: 11pt;
	line-height: 18pt;
}

TABLE {
	margin-bottom: 1em;
}

.post P IMG {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.article UL {
	text-align: left ;
}

.post H2 {
	font-size: 18pt;
	margin-bottom: -3px;
}

.post H3 {
	font-size: 16pt;
	margin-bottom: -3px;
}

.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }

P.postfooter {
	border-top: thin dotted black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

A {
	color: #0000CC;
}

A:hover {
	text-decoration: underline;
}

.categories {
}

.vertical {
}

UL.horizontal {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

UL.horizontal LI {
	display: inline;
	padding-right: 5px;
}

.post BLOCKQUOTE P, .post BLOCKQUOTE UL LI {
	font-family: "droid-sans", sans-serif;
	font-size: 12pt;
	text-align: left;
	line-height: 16pt;
}

BLOCKQUOTE.resume {
	width: 80%;
}

BLOCKQUOTE.resume P {
	font-size: 12pt;
	line-height: 18pt;
}

BLOCKQUOTE.resume P.quote-source {
	font-weight: bold;
}

DL.resume DT {
	color: #AB1413;
	border-bottom: 1px dotted black ;
}

UL.special-content {
	list-style-type: square;
}

DIV.article H1, DIV.article H2, DIV.article H3, DIV.post H1, DIV.post H2, DIV.post H3 {
	color: #AB1413;
}

DIV.article H1, DIV.post H1 {
	text-transform: uppercase;
	font-size: 16pt;
	border-bottom: 1px dotted black ;
}

DIV.article H2, DIV.post H2 {
	text-transform: uppercase;
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 20pt;
}

DIV.article H3, DIV.post H3 {
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 18pt;
}

DIV.article H4, DIV.post H4 {
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 18pt;
}

.article TH {
	text-align: left ;
}

.article TH, .article TD {
	padding-right: 10px ;
}

pre {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

DIV.ale_news_post_header {
	background: #FFFEC9 ;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

DIV.ale_news_post_header P {
	margin-bottom: 0px;
}