body {
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
}

H1.blog-title {
	font-size: 18px;
}

P.blog-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: 24px;
	font-size: 18px;
}

@media (max-width: 768px) {
	.sidebar {
	    display: none !important;
	}
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
      margin-left: -20px;
      margin-right: -20px;
    }
    .container-fluid {
      padding: 0;
    }
    .dl-horizontal dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    .dl-horizontal dd {
      margin-left: 0;
    }
    .container {
      width: auto;
    }
    .row-fluid {
      width: 100%;
    }
    .row,
    .thumbnails {
      margin-left: 0;
    }
    .thumbnails > li {
      float: none;
      margin-left: 0;
    }
    [class*="span"],
    .row-fluid [class*="span"] {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .span12,
    .row-fluid .span12 {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .input-large,
    .input-xlarge,
    .input-xxlarge,
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input {
      display: block;
      width: 100%;
      min-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .input-prepend input,
    .input-append input,
    .input-prepend input[class*="span"],
    .input-append input[class*="span"] {
      display: inline-block;
      width: auto;
    }
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: 0;
    }
    .modal {
      position: fixed;
      top: 20px;
      left: 20px;
      right: 20px;
      width: auto;
      margin: 0;
    }
    .modal.fade.in {
      top: auto;
    }
}

.sidebar P {
	margin-left: 10px;
	margin-right: 10px;
}

.sidebar FORM {
	margin-left: 10px;
	margin-right: 10px;
}

.section {
	margin-top: 25px;
	font-size: 14px;
	text-transform: uppercase;
	color: #AB1413;
	border-bottom: 1px dotted black ;
}

.post {
	font-family: "museo-sans", sans-serif ;
	margin-bottom: 2em;
}

.post H1 {
	font-size: 18pt;
	text-align: center;
}

.post H2 {
	font-size: 18pt;
	margin-top: 12pt;
	margin-bottom: -3px;
	text-align: center;
}

.post H3 {
	font-size: 16pt;
	margin-bottom: -3px;
}

.post P, .article P, .article TD, .article TH, .article UL {
	font-size: 12pt;
	line-height: 16pt;
	text-align: justify ;
}

TD {
	font-size: 11pt;
	line-height: 18pt;
}

TABLE {
	margin-bottom: 1em;
}

.post P IMG {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.article UL {
	text-align: left ;
}

.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }

TABLE.postfooter {
	border-top: thin dotted black;
}

TABLE.postfooter TD {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

A {
	color: #0000CC;
}

A:hover {
	text-decoration: underline;
}

.categories {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vertical {
}

UL.horizontal {
	text-align: center;
	font-size: small;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

UL.horizontal LI {
	display: inline;
	padding-right: 5px;
}

.post BLOCKQUOTE P, .post BLOCKQUOTE UL LI {
	font-family: "droid-sans", sans-serif;
	font-size: 12pt;
	text-align: left;
	line-height: 16pt;
}

BLOCKQUOTE.resume {
	width: 80%;
}

BLOCKQUOTE.resume P {
	font-size: 12pt;
	line-height: 18pt;
}

BLOCKQUOTE.resume P.quote-source {
	font-weight: bold;
}

DL.resume DT {
	font-weight: bold;
	font-size: 12pt;
	color: #0E6A01;
	border-bottom: 1px dotted black ;
}

DL.resume DD P.client {
	font-weight: bold;
}

DL.resume-inner DT {
	color: #000000;
	font-weight: bold;
	border-bottom: none ;
	font-size: 11pt;
	margin-bottom: 5px;
}

DL.resume-inner DD P {
	font-size: 11pt;
}


UL.special-content {
	list-style-type: square;
}

UL.special-content LI {
	font-size: smaller;
}

DIV.article H1, DIV.article H2, DIV.article H3, DIV.post H1, DIV.post H2, DIV.post H3 {
	color: #AB1413;
}

DIV.article H1, DIV.post H1, H1.overview-headline {
	text-transform: uppercase;
	font-size: 16pt;
	border-bottom: 1px dotted black ;
}

DIV.article H2, DIV.post H2 {
	text-transform: uppercase;
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 20pt;
}

DIV.article H3, DIV.post H3 {
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 18pt;
}

DIV.article H4, DIV.post H4 {
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 18pt;
}

.article TH {
	text-align: left ;
}

.article TH, .article TD {
	padding-right: 10px ;
}

pre {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

DIV.ale_news_post_header, DIV.ale_news_post_footer, DIV.related_articles {
	background: #FFFEC9 ;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

DIV.ale_news_post_header {
	padding-bottom: 0px;
	position: relative;
	float: right;
	width: 350px;
	margin-left: 20px
}

DIV.ale_news_post_header, DIV.ale_news_post_footer, DIV.related_articles P {
	margin-bottom: 0px;
}

TABLE.article-overview {
	margin-bottom: 0;
}

TABLE.article-overview TR {
	vertical-align: top;
}

TABLE.article-overview TD {
	font-size: 10pt;
	line-height: 10pt;
	padding-bottom: 4px;
}

P.featured-category {
	margin-top: 0;
}

.footer {
	background-color: #F2F2F2;
}

.header H1, .header H2 {
	text-align: center;
}

.header H2 {
	font-size: 16pt;
}

.post UL LI {
	font-size: 12pt;
}

A.categoryLink {
	text-transform: uppercase;
	color: #AB1413;
}

TABLE {
	margin-left: auto;
	margin-right: auto;
}

UL#nav {
	text-align: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

UL#nav LI {
	display: inline;
	padding-right: 5px;
}

DIV#navrow {
	margin-bottom: 15px;
}

UL#photoInfo {
	margin-top: 15px;
}

FIGCAPTION {
	margin-top: 10px;
	text-align: center;
}

.resume TABLE TH {
	white-space: nowrap ;
}

#gallery {
	margin-top: 20px;
	margin-bottom: 20px;
}

