<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>1PFMz7eeQu+Ve5XkiwSrZA</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2010-02-13T17:15:35Z</date>
		</dict>
		<key>CWVFBFtTTcWi+jWPIrUe5w</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-11-03T16:55:43Z</date>
		</dict>
		<key>OKRXbGXAQgyZuwjjz7%8+g</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2010-02-13T17:41:03Z</date>
		</dict>
		<key>QfGhw2LXT6eSIOBcQvSZIA</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2010-02-13T17:17:07Z</date>
		</dict>
		<key>U+m4smOwRaGluyYc%ieBpw</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2010-02-13T17:34:21Z</date>
		</dict>
		<key>VhQAqr5nRc6oJGN0+JwJCA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2010-02-13T17:36:01Z</date>
		</dict>
		<key>swEyxdprR9iWsdQfH0B+cQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-11-01T17:03:39Z</date>
		</dict>
		<key>vHLE29iQS5evhZy4W76v4w</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2010-02-13T17:30:38Z</date>
		</dict>
		<key>xqvqnTJUTs+O2F8IDcKhKA</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2010-02-13T17:42:14Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
