<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>3Zm2pKoOQzGMAsAKhXXA9A</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2008-10-17T22:27:46Z</date>
		</dict>
		<key>5L2T6pSERIOYr%Gpau8+Eg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2008-10-17T22:28:12Z</date>
		</dict>
		<key>HtBYsUDdTL+4So7mIHBGdw</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2007-02-03T15:15:57Z</date>
		</dict>
		<key>VkOvz+oLTCq96M5LNnqThw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-02-03T15:15:31Z</date>
		</dict>
		<key>hEjaID3KSu6NePQjGdJUhQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2010-02-13T17:39:20Z</date>
		</dict>
		<key>weAUJaCXQu+E239VwaOkZQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2008-10-17T22:29:13Z</date>
		</dict>
		<key>xBkyRUM3QPeHy1cSlRKcbw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-02-03T15:22:32Z</date>
		</dict>
		<key>xEVdvj10QwKORbnr8zrC8w</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-02-03T15:16:17Z</date>
		</dict>
		<key>zQBkffqSTQer6IqbIcTcng</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2008-10-17T22:29:05Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
