<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>4EylPKUETOCQVj5laAe2cg</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2007-12-17T00:36:08Z</date>
		</dict>
		<key>5%6fWwBeSGigkSOe0LL7Tg</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2007-12-17T00:42:53Z</date>
		</dict>
		<key>8iUMPnCESZmNFf%15v9jYA</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2007-12-17T00:42:36Z</date>
		</dict>
		<key>DOdqi+bPRSGYKOdASdWuBA</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2007-12-17T00:35:14Z</date>
		</dict>
		<key>O61il5%ZRvaIiDnQUGdT9w</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2007-12-17T00:39:43Z</date>
		</dict>
		<key>TtDKG4w3T8yQEuXmGdvVzw</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2010-02-13T17:12:20Z</date>
		</dict>
		<key>cM5DsH9OTx+enwd+HoEZKg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2010-02-13T17:39:52Z</date>
		</dict>
		<key>jgob06uJRbSTOBCBOwJzyA</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2007-12-17T00:39:31Z</date>
		</dict>
		<key>k0yc%RRMQdKOgVYaG7+MjA</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2007-12-17T00:34:51Z</date>
		</dict>
		<key>lDTMvG0AT9iE8tn72ExoNw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-12-17T00:41:20Z</date>
		</dict>
		<key>mtzxuykmTPW+gUmR3NbnQw</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-12-17T00:30:29Z</date>
		</dict>
		<key>wJ5icvD3RIebqElaK+1cyw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-12-17T00:42:15Z</date>
		</dict>
		<key>yPVrWDhQTFO8IVim1HCadQ</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2010-02-13T17:21:42Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
