<div class="sidebar">
	<p class="section">About me</p>
	<p>Hello! My name is <a href="/">Stephan Schwab</a>.</p>
	{% include introduction.html %}

	<p class="section no-print-sidebar">Professional Services</p>
	<p>I'm fluent in these human languages:</p>
	<p align="center">
		<a href="/category/en.html"><img src="/img/language-flags/32x32/flag_rotate-02.png"></a>
		<a href="/category/de.html"><img src="/img/language-flags/32x32/flag_rotate-03.png"></a>
		<a href="/category/es.html"><img src="/img/language-flags/32x32/flag_rotate-12.png"></a>
	</p>
	<p align="center">
		<small>
			<a href="/category/en.html">English</a>
			<a href="/category/de.html">German</a>
			<a href="/category/es.html">Spanish</a>
		</small>
	</p>
	<div class="no-print-sidebar">
		<p>Scrum Pair-Coaching to develop technical competence:</p>
		<p align="center">Details in <a href="/en-pair-coaching-scrummaster.html">English</a>, <a
				href="/de-pair-coaching-scrummaster.html">Deutsch</a></p>

		<p><strong>Resources for new clients</strong>:</p>
		<p align="center"><a href="/resources/de-new-client.html">Deutsch</a></p>
	</div>

	<div class="no-print-sidebar">
		<p class="section noprint">Search</p>
		<form method="get" action="http://www.google.com/search">
			<p align="center"><input type="text" name="q" maxlength="255" value="" style="width: 180px" /></br>
				<input type="submit" value="Google Search" class="btn btn-primary btn-mini" />
			</p>
			<input type="hidden" name="sitesearch" value="http://www.stephan-schwab.com" />
		</form>

		<p class="section">Special&nbsp;Content</p>
		<ul class="special-content">
			<li><a href="/atdd/">Acceptance Test-Driven Development</a></li>
			<li><a href="/software-design/">Software Design</a></li>
			<li><a href="/sddm.html">Software Development Decision Making</a></li>
		</ul>
		<ul class="special-content">
			<li><a href="/coaching-future-masters.html">Coaching future masters</a></li>
		</ul>
		<ul class="special-content">
			<li><a href="/farmstead.html">Developing a farmstead in Andalucia, Spain</a></li>
			<li><a href="/house/">Building a house, Spain</a></li>
			<li><a href="/airtravel/">Business travel with light aircraft</a></li>
			<li><a href="/horses/">Horses</a></li>
			<li><a href="/panama-farm.html">Rainforest Farm, Panama</a></li>
			<li><a href="/galleries/">Photo Galleries</a></li>
		</ul>
		<ul class="special-content">
			<li><a href="/reading-list.html">My reading list</a></li>
		</ul>

		<p class="section">Highlights of the Year</p>
		<ul class="special-content">
			{% for post in site.tags.highlight_of_the_year limit %}
			<li><a href="{{ post.url }}">{{ post.date | date: "%Y" }}</a></li>
			{% endfor %}
		</ul>

		<p class="section">Living on planet Earth</p>
		<ul class="special-content">
			<li><a href="/dominican-republic.html">Dominican Republic</a></li>
			<li><a href="/china.html">China</a></li>
			<li><a href="/germany.html">Germany</a></li>
			<li><a href="/panama.html">Panama</a></li>
			<li><a href="/spain.html">Spain</a></li>
			<li><a href="/usa.html">USA</a></li>
		</ul>

		<p class="section">Open Source Projects</p>
		<ul class="special-content">
			<li><a href="/ale-news.html">Development of ALE News</a></li>
			<li><a href="https://github.com/snscaimito/RAutomation">RAutomation</a></li>
			<li><a href="/open-source.html">Other contributions to Open Source</a></li>
		</ul>

		<p class="section">Stay in touch</p>
		<p align="center">
			<a href="/rss.xml"><img src="/img/Furry-Cushion-RSS_48.png" /></a>
			<a href="https://twitter.com/snscaimito"><img src="/img/Furry-Cushion-Twitter_48.png" /></a>
			<a href="http://www.linkedin.com/in/stephanschwab"><img src="/img/Furry-Cushion-LinkedIn_48.png" /></a>
		</p>
		<p align="center">
			<a rel="me" href="https://techhub.social/@snscaimito"><img src="/img/mastodon.svg" width="48" /></a>
			<a href="https://bsky.app/profile/snscaimito.bsky.social"><img src="/img/Bluesky_butterfly-logo.svg"
					width="65" /></a>
			<a href="https://www.tiktok.com/@snscaimito"><img src="/img/tiktok-icon-white-1-logo-svgrepo-com.svg"
					width="48" /></a>
		</p>
		<p align="center">
			<a href="mailto:sns@caimito.net?subject=From%20stephan-schwab.com">sns@caimito.net</a>
		</p>

		<p class=" section">My Books
		</p>
		<p align="center"><a href="https://leanpub.com/activitycentereddesign"><img
					src="/img/smarter-software-with-activity-centered-design.jpg" /></a></p>
		<p align="center"><a href="https://leanpub.com/essays-on-software-development-2012"><img
					src="/img/essays-on-software-development-2012.png" /></a></p>

		<p class="section">Everything</p>
		<p>See a listing of <a href="/all-posts.html">all posts</a> on this site.</p>
	</div>
</div>