<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>1KpQx2ewQYWRNtJguFdNTA</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:39Z</date>
		</dict>
		<key>4AFzBzLTQ86NWk8nHxuoqg</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2009-10-08T00:14:00Z</date>
		</dict>
		<key>8aJqIGylT0aUiEkNIpfB1Q</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2009-10-08T00:10:04Z</date>
		</dict>
		<key>94PvhfdPS567ftswIVsIHw</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:39Z</date>
		</dict>
		<key>AWBp%moLQ26JayewkQPE%A</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:50Z</date>
		</dict>
		<key>ExK64YllT7u9YZbWUBwcNw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2009-10-08T00:10:04Z</date>
		</dict>
		<key>FVad5ji%TcOZUQH7WKyJMg</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2009-10-08T00:10:21Z</date>
		</dict>
		<key>IOwZq9l1RpeuOoy%6VOCIg</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:50Z</date>
		</dict>
		<key>TZH1Ue%5QkqI4hUi1VfTQA</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2009-10-08T00:14:00Z</date>
		</dict>
		<key>UyZDp+JXRpOvMGpCUnox9Q</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2009-10-08T00:14:00Z</date>
		</dict>
		<key>V1OY94P%SYy+OGkjy4E02Q</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:39Z</date>
		</dict>
		<key>YCK1X5B7QyKphaUwDL22Eg</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2009-10-08T00:14:06Z</date>
		</dict>
		<key>YZMZhb9jT46jPwhz4AWpSg</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2009-10-08T00:09:46Z</date>
		</dict>
		<key>h3twU3ggSnOb43OjqVGcqQ</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2009-10-08T00:10:04Z</date>
		</dict>
		<key>iKztpHLvTUG%UG1+2e3b+Q</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2009-10-08T00:10:37Z</date>
		</dict>
		<key>imlB6AVDSt+T+B%AxHq2qw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2009-10-08T00:10:37Z</date>
		</dict>
		<key>kstJ%sjHQ4Kp1rxUckQcyA</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:50Z</date>
		</dict>
		<key>sJvOimLHSEavqejdJIwqPw</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:50Z</date>
		</dict>
		<key>uNp06IfKRuKmkXE06Fo6XA</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2009-10-08T00:14:00Z</date>
		</dict>
		<key>uWq7iPH4TKiw6Muzw17NfA</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2009-10-08T00:09:46Z</date>
		</dict>
		<key>v8XBt%awTBOvWFBC4phZrQ</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2009-10-08T00:13:39Z</date>
		</dict>
		<key>vyAAe3%9S+ycQSOD1bBDOg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2009-10-08T00:11:11Z</date>
		</dict>
		<key>wuxHus%LQB6ThjiRgblsBA</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2009-10-08T00:14:00Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
