<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>1l5GIGndRPOLiWlQ+phAZA</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-10-25T18:57:51Z</date>
		</dict>
		<key>26CIZgI+S+agLlGSPs0ouA</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2010-02-13T17:30:42Z</date>
		</dict>
		<key>4Rcr5K3HQWaapkeYMWUsLQ</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2010-02-13T17:30:46Z</date>
		</dict>
		<key>4qXLDm3SQE6T+COli8bY3g</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2006-10-23T21:07:54Z</date>
		</dict>
		<key>84sBqfgjQ3eOb%qifYaRqw</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2006-10-23T21:09:42Z</date>
		</dict>
		<key>AKPkoC4bRRWbPQJWo4n6wQ</key>
		<dict>
			<key>index</key>
			<integer>29</integer>
			<key>modDate</key>
			<date>2006-10-25T00:50:20Z</date>
		</dict>
		<key>DZWQtBxfRWaiA4FaiEpGdg</key>
		<dict>
			<key>index</key>
			<integer>27</integer>
			<key>modDate</key>
			<date>2006-10-23T21:13:13Z</date>
		</dict>
		<key>Fn833psOSrCGaYZw+FVlmg</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2006-10-23T21:07:33Z</date>
		</dict>
		<key>IFydH2IyQdmsAeQf83z38A</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2010-02-13T17:36:44Z</date>
		</dict>
		<key>JH1SsTtwS6GLjbYPqbXMQg</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2006-10-25T18:57:26Z</date>
		</dict>
		<key>K7NVFns4S9uBTz%3sL5tMA</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2006-10-23T21:12:16Z</date>
		</dict>
		<key>KGTbAkeKTWGl+Qb1yowbwQ</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2010-02-13T17:44:17Z</date>
		</dict>
		<key>QD7diQMeQuSoGpxJlT9M%g</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2006-10-23T21:11:40Z</date>
		</dict>
		<key>YXha8MDJSbKyDdMpS5QfXA</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2006-11-01T17:24:42Z</date>
		</dict>
		<key>YeH6IEvlRPqYRcMb2KuJxg</key>
		<dict>
			<key>index</key>
			<integer>26</integer>
			<key>modDate</key>
			<date>2006-10-23T21:13:02Z</date>
		</dict>
		<key>amY638v5TUy3Bu8zaEywWQ</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2006-10-23T21:06:18Z</date>
		</dict>
		<key>aoJRMj6RSyWHzlh0xCQZGw</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2006-10-25T18:57:07Z</date>
		</dict>
		<key>bz0k53W8QJefq7tLIMF%0Q</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-10-25T18:57:07Z</date>
		</dict>
		<key>cgTbU8ISThOIH+Kh0ZDgBA</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2006-10-23T21:05:47Z</date>
		</dict>
		<key>fgJLKcswRUSSJZtfUupLRg</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2006-10-23T21:05:16Z</date>
		</dict>
		<key>iGrIexz5QJmz1nvT0N05ew</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2010-02-13T17:25:08Z</date>
		</dict>
		<key>jYPh%tB3QV+Kc4vWV17oAQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2006-10-25T18:57:10Z</date>
		</dict>
		<key>nIaDZN4nRAarpVsm5n42iw</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2006-10-25T18:57:50Z</date>
		</dict>
		<key>omMmoPHFSiWswxhC5lsQZQ</key>
		<dict>
			<key>index</key>
			<integer>28</integer>
			<key>modDate</key>
			<date>2010-02-13T17:25:50Z</date>
		</dict>
		<key>pYa+p7dvTEeuzDWW8lsyUA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2010-02-13T17:20:26Z</date>
		</dict>
		<key>q97HdFx4RjeJkLbL3bN%eg</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2010-02-13T17:25:17Z</date>
		</dict>
		<key>rmt0j%8qRV+G%PDMHtcXEw</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2006-10-23T21:08:37Z</date>
		</dict>
		<key>uBuMJXjGT5mBbyzHKEXEnQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2010-02-13T17:35:06Z</date>
		</dict>
		<key>wCgvDpFIS%ScVmwg9o09xA</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2006-11-01T17:21:08Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
