<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>

	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

	<link rel="stylesheet" href="/css/syntax.css" />
	<link rel="stylesheet" href="/css/schwab.css" />
	<link rel="stylesheet" href="/css/print.css" media="print" />

	<link rel="alternate" type="application/rss+xml" title="Stephan Schwab" href="/rss.xml" />

	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script type='text/javascript' src='/unitegallery/js/unitegallery.min.js'></script>

	<link rel='stylesheet' href='/unitegallery/css/unite-gallery.css' type='text/css' />
	<script type='text/javascript' src='/unitegallery/themes/tiles/ug-theme-tiles.js'></script>

	<meta property="og:title" content="{{ page.title | escape }}">
	<meta property="twitter:title" content="{{ page.title | escape }}">
	<meta property="og:description" content="{{ page.description | escape }}">
	<meta property="twitter:description" content="{{ page.description | escape }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@snscaimito">
	{% if page.image %}
	<meta property="og:image" content="{{ site.url }}/img/posts/{{ page.image }}">
	<meta property="twitter:image" content="{{ site.url }}/img/posts/{{ page.image }}">
	{% endif %}
</head>