<div class="row">
	<div class="span12">
		<img src="http://www.gravatar.com/avatar/663d11426b0a187ddac59f8c17ce61b4?s=60" align="left" style="margin-right: 15px"/></a>
		<p>As International Software Development Coach and Trainer I offer to CEOs and Department Leaders, who are not satisfied with the performance of their software development teams,  <strong>team coaching</strong> as a professional service to <strong>improve</strong> the <strong>value creation chain</strong> within their organization and to improve the <strong>quality</strong> of the product they are making.</p> 
		
		<p>See my <a href="/resume/">detailed résumé</a> to learn more about me and my experience since 1986.</p>
		<br clear="all">
	</div>
</div>
