<a class="about-avatar" href="/"><img src="https://gravatar.com/avatar/663d11426b0a187ddac59f8c17ce61b4?s=90&d=robohash&r=x"
		class="align-left" /></a>
<p>I build and rescue software, and I write fiction about the human side of how it gets made.
	Here you&rsquo;ll find my <a href="https://www.caimito.net/en/stories.html">stories and novelas</a>,
	notes on craft, and field notes from a life lived across several worlds.</p>

<p>Working with software teams is what I do professionally &mdash;
	<a href="https://www.caimito.net/en/">see how on caimito.net</a>. You can also read about
	<a href="/resume/">my experience</a> since 1986.</p>
<span style="clear:both; float:none" />
