<div class="row">
	<div class="span12">
		<a href="/"><img src="http://www.gravatar.com/avatar/663d11426b0a187ddac59f8c17ce61b4?s=60" align="left" style="margin-right: 15px"/></a>
		<p>As International Software Development Coach and Trainer I offer to CEOs and Department Leaders, who are not satisfied with the performance of their software development teams, <strong>technical and organizational team coaching</strong> as a professional service to <strong>improve</strong> the <strong>value creation chain</strong> within their organization and to improve the <strong>quality</strong> of the product they are making.</p> 
		
		<p>Learn about <a href="/resume/">my professional experience</a> since 1986. First time visitors, please see my <a href="/2006/12/31/highlights-2006.html">highlights of the year series</a>.</p>
		<br clear="all">
	</div>
</div>
