<div class="sidebar">
	<p class="section">Stephan Schwab</p>
	<p>is a Software Development Coach helping teams to develop organisational and technical capabilities.</p>
	<p align="center"><img src="http://www.gravatar.com/avatar/663d11426b0a187ddac59f8c17ce61b4?s=120"/></p>
	<p>See my <a href="/resume/">detailed résumé</a> to learn more about me and my experience since 1986.</p>

	<p class="section">Stay in touch</p>
	<p align="center">
		<a href="/rss.xml"><img src="/img/Furry-Cushion-RSS_48.png"/></a>
		<a href="https://twitter.com/snscaimito"><img src="/img/Furry-Cushion-Twitter_48.png"/></a> 
		<a href="http://www.linkedin.com/in/stephanschwab"><img src="/img/Furry-Cushion-LinkedIn_48.png"/></a>
	</p>
	<p align="center">
		<a href="http://www.xing.com/profile/Stephan_Schwab6" target="_blank" rel="me"><img src="http://www.xing.com/img/buttons/10_en_btn.gif" width="85" height="23" alt="Stephan Schwab"></a>
	</p>

	<p class="section">Professional Services</p>
	<p>You can <a href="http://www.caimito.net">hire</a> me as a Software Development Coach and Trainer through my company:</p>
	<p align="center"><a href="http://www.caimito.net"><img src="/img/logo_caimito.png"/></a></p>

	<p class="section">Search</p>
	<form method="get" action="http://www.google.com/search">
		<p align="center"><input type="text" name="q" maxlength="255" value="" style="width: 180px" /></br>
		<input type="submit" value="Google Search" class="btn btn-primary btn-mini"/></p>
		<input type="hidden" name="sitesearch" value="http://www.stephan-schwab.com"/>
	</form>

	<p class="section">My Books</p>
	<p align="center"><a href="https://leanpub.com/activitycentereddesign"><img src="/img/smarter-software-with-activity-centered-design.jpg"/></a></p>
	<p align="center"><a href="https://leanpub.com/essays-on-software-development-2012"><img src="/img/essays-on-software-development-2012.png"/></a></p>

	<p class="section">Categories</p>
	<ul class="categories vertical">
		{% include categories-list.html %}
	</ul>
</div>
