<div class="sidebar">
	<p class="section">Professional Services</p>
	<p>I provide professional services through my company:</p>
	<p align="center"><a href="http://www.caimito.net"><img src="/img/logo_caimito.png"/></a></p>
	<p>I'm fluent in these languages:</p>
	<p align="center">
		<a href="/category/en.html"><img src="/img/language-flags/32x32/flag_rotate-02.png"></a>
		<a href="/category/de.html"><img src="/img/language-flags/32x32/flag_rotate-03.png"></a>
		<a href="/category/es.html"><img src="/img/language-flags/32x32/flag_rotate-12.png"></a>
	</p>
	<p align="center">
		<small>
		<a href="/category/en.html">English</a> 
		<a href="/category/de.html">German</a>
		<a href="/category/es.html">Spanish</a>
		</small>
	</p>

	<p class="section">Specialties</p>
	<ul class="special-content">
		<li><a href="technicalTeamCoach.html">Coaching</a></li>
		<li><a href="consultant.html">Consulting</a></li>
		<li><a href="interimManager.html">Management</a></li>
		<li><a href="productManager.html">Product Management</a></li>
		<li><a href="speaking.html">Public Speaking</a></li>
		<li><a href="developer.html">Software Development</a></li>
	</ul>

	<p class="section">International Experience</p>
	<ul class="special-content">
		<li><a href="/dominican-republic.html">Dominican Republic</a></li>
		<li><a href="/china.html">China</a></li>
		<li><a href="/germany.html">Germany</a></li>
		<li><a href="/panama.html">Panama</a></li>
		<li><a href="/usa.html">USA</a></li>
	</ul>

	<p class="section">My Books</p>
	<p align="center"><a href="https://leanpub.com/activitycentereddesign"><img src="/img/smarter-software-with-activity-centered-design.jpg"/></a></p>
	<p align="center"><a href="https://leanpub.com/essays-on-software-development-2012"><img src="/img/essays-on-software-development-2012.png"/></a></p>

	<p class="section">Open Source Projects</p>
	<ul class="special-content">
		<li><a href="/ale-news.html">Development of ALE News</a></li>
		<li><a href="https://github.com/snscaimito/RAutomation">RAutomation</a></li>
		<li><a href="/open-source.html">Other contributions to Open Source</a></li>
	</ul>

	<p class="section">Social Media</p>
	<p align="center">
		<a href="https://twitter.com/snscaimito"><img src="/img/Furry-Cushion-Twitter_48.png"/></a> 
		<a href="http://www.linkedin.com/in/stephanschwab"><img src="/img/Furry-Cushion-LinkedIn_48.png"/></a>
	</p>
	<p align="center">
		<a href="http://www.xing.com/profile/Stephan_Schwab6" target="_blank" rel="me"><img src="http://www.xing.com/img/buttons/10_en_btn.gif" width="85" height="23" alt="Stephan Schwab"></a>
	 	<a href="https://plus.google.com/u/0/+StephanSchwab?rel=author"><img src="/img/Red-signin_Small_base_20dp.png" width="60" height="60"></a>
	</p>
</div>
