<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>74c5fd83f02ec395a85eadd2c7bfa4c3</string>
	<key>detailSize</key>
	<string>{1024, 1024}</string>
	<key>images</key>
	<dict>
		<key>%6V7p70aQwmu6UoyEDGkzA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>1+6ZIxgiRA2ldy+f4T63Aw</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>5UmTRrp8Ttmp9SDm4XTH%w</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>8B8eWU99Slqy1MwJON4S1g</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>Fe%NAH1mTyGwS09Q8B20AQ</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>Go8OenAtRmGolnQbBiQDYQ</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>HI7z5QCTSOKJhtGmDRdylg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2017-07-31T11:44:00Z</date>
		</dict>
		<key>HZfJd6L6SxyTBtDTwMjFew</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2017-07-31T11:46:11Z</date>
		</dict>
		<key>Z7hH7zxgQ3q8zxA41wrCdw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>dR5tL6o7RAW3Jm1mj841aw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2017-07-31T11:51:12Z</date>
		</dict>
		<key>exkXGXtuR+ORyAOIxlk4rg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>fCjMtQ5uQPmzIP3q39HbVQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2017-07-31T11:45:27Z</date>
		</dict>
		<key>fNmDItmcT9aSfBEnKvEaqw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>svXpb1rmTFueZsLxBuREVw</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>9febe6c7f42ea4b8908768ced100bcdf</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
