<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>0N1HTzweQ2OZ1XMsKY+CEA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2009-09-27T02:21:55Z</date>
		</dict>
		<key>AMmdwDSCTgqHdtdUi%BsYg</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2009-09-27T01:43:18Z</date>
		</dict>
		<key>BbnkXlXfTv2Naq9BjRnSPg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2010-02-13T17:38:19Z</date>
		</dict>
		<key>NdQfiaP7S66cjKVnFb8cPw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2009-09-27T01:42:50Z</date>
		</dict>
		<key>NxIo%zo8SnC6rG6TXVMpNg</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2009-09-27T02:19:25Z</date>
		</dict>
		<key>V5JxFdlUSl20K9piKExebQ</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2009-09-27T01:37:17Z</date>
		</dict>
		<key>wIWGF7qeQRWTYyCRy%YpJg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2009-09-27T01:43:35Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
