<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>0HfAvpPZS1KzwVyxYFsh4A</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2010-02-13T17:29:48Z</date>
		</dict>
		<key>23dhu6XvQPqEEdPhGUeDog</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2009-09-05T19:39:44Z</date>
		</dict>
		<key>3PQn2b2ZT%S33gqNRoq%SA</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2010-02-13T17:26:06Z</date>
		</dict>
		<key>3rhagcPRR46Xxdguxu6zUQ</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2010-02-13T17:22:29Z</date>
		</dict>
		<key>5%S08TDmS8ms1xJSslkEqw</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2009-09-05T21:39:23Z</date>
		</dict>
		<key>Ko+wh3BpRIa+IMnFLgEvWA</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2010-02-13T17:31:50Z</date>
		</dict>
		<key>MBJD7eEYRJil1+IJq8vvmA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2010-02-13T17:25:02Z</date>
		</dict>
		<key>MqUrnwKYSUOCc6BnDMWDAQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2015-01-05T15:49:43Z</date>
		</dict>
		<key>Tluyb8zEQ+aqmNdOlHj+Sg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2010-02-13T17:30:09Z</date>
		</dict>
		<key>WggFl%kUSiOscueJaxyx4w</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2009-09-05T19:40:28Z</date>
		</dict>
		<key>ace0kfxnSryvEPBftDv2VQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2010-02-13T17:44:07Z</date>
		</dict>
		<key>apCV84QURwKE1ssYqfz0Og</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2010-02-13T17:11:47Z</date>
		</dict>
		<key>chmlnQ5KQjG2e6cj%KaxFA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2009-09-05T21:59:46Z</date>
		</dict>
		<key>dLwNwoSxRMW23hUuzIPcrQ</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2010-02-13T17:38:50Z</date>
		</dict>
		<key>gF6MdOS+T2SkiiCk6bH1Uw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2009-09-05T21:20:59Z</date>
		</dict>
		<key>guFsc6ytR8qYw0EsvOjINA</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2009-09-07T15:37:53Z</date>
		</dict>
		<key>iJEIja2RQ7e1NXxC1vATTQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2010-02-13T17:28:31Z</date>
		</dict>
		<key>n8yWcqFvQ9uOjwDTzQFavQ</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2010-02-13T17:19:52Z</date>
		</dict>
		<key>t1+etAFzRlGnEr9NDywIrA</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2009-09-07T15:35:53Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
