<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>0WaO3CCyQR+khjXIqqDyqA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:46Z</date>
		</dict>
		<key>8Mc0TMbiR9mUW8KeZdL%8Q</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:26Z</date>
		</dict>
		<key>AiQyXPvgS8eotMIglGq+GQ</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2009-02-16T23:29:06Z</date>
		</dict>
		<key>C6DuWWgXRPy2P5dO%tzLsA</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:47Z</date>
		</dict>
		<key>G7gWmPKISsOQYQ2GIS5nKA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:06Z</date>
		</dict>
		<key>KvTOIB4sR%up8f56RCH%UA</key>
		<dict>
			<key>index</key>
			<integer>27</integer>
			<key>modDate</key>
			<date>2009-02-16T23:29:06Z</date>
		</dict>
		<key>L28J%WvbRtKRrxSFTsH%iA</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:06Z</date>
		</dict>
		<key>O+95eMO9Ty6KRl6mse+f1w</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:26Z</date>
		</dict>
		<key>O6Q9+V5HRZayDSVgQ0Aolg</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:46Z</date>
		</dict>
		<key>OHKH2g7zRiy1Zi75u%wxuw</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:26Z</date>
		</dict>
		<key>OTuDUtfgRu6hYLBdP5CTew</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:47Z</date>
		</dict>
		<key>Owa2vtgeT6qRUe+l3GrodA</key>
		<dict>
			<key>index</key>
			<integer>29</integer>
			<key>modDate</key>
			<date>2009-02-16T23:29:26Z</date>
		</dict>
		<key>QeD1SVl3Rk6ZiIuRXBka0A</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:47Z</date>
		</dict>
		<key>T0v6W5axRluEdiy%vdqFuQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:07Z</date>
		</dict>
		<key>bYRtDxl3Thqkm2ABrwSEfw</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:26Z</date>
		</dict>
		<key>cRsiuDEjRLWCHxrZm%h+Eg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:07Z</date>
		</dict>
		<key>d7sDw54FQnaR%TVPtZB1nQ</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:46Z</date>
		</dict>
		<key>dqhGCgHFSSurc08ktBZDNQ</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:26Z</date>
		</dict>
		<key>gp0DzyukR3+FR2CmzoFkCw</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:47Z</date>
		</dict>
		<key>i4gRQnmsRx+OVxkzcouDOQ</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:06Z</date>
		</dict>
		<key>iIMy%MWKT6+q8id4HGahDQ</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2009-02-16T23:29:06Z</date>
		</dict>
		<key>jCwcY6CGQQK3riHvn70VFA</key>
		<dict>
			<key>index</key>
			<integer>26</integer>
			<key>modDate</key>
			<date>2009-02-16T23:29:06Z</date>
		</dict>
		<key>jKm56J6RStyDUpfGulVUAw</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:46Z</date>
		</dict>
		<key>jySoFNsTSW21DHukSv4BYQ</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:47Z</date>
		</dict>
		<key>k6VueB4rTbSHh6EWcFubYw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:06Z</date>
		</dict>
		<key>lRBHy1rsRJmkhCaPIY%TLQ</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2009-02-16T23:28:26Z</date>
		</dict>
		<key>nJjbuZjMTSim7whyWPXf9g</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:26Z</date>
		</dict>
		<key>pYiFJbYJQ5mS5oXbqbUUEg</key>
		<dict>
			<key>index</key>
			<integer>28</integer>
			<key>modDate</key>
			<date>2009-02-16T23:29:26Z</date>
		</dict>
		<key>vNgHYNF4RSG5Cis1iD2o7w</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2009-02-16T23:27:07Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
