<html>
{% include head.html %}

<body>
	<div class="container">
		{% include header.html %}
		<div class="row">
			<div class="span9">
				<div class="post">
					<h1>{{ page.title }}</h1>
          {{ content }}
					<table class="postfooter" style="width: 100%">
					<tr>
						<td style="text-align: left; width: 33%"><a href="{{ page.previous.url }}">Previous</a></td>
						<td style="text-align: center; width: 33%">{{ page.date | date: "%d %b %Y" }}</td>
						<td style="text-align: right; width: 33%"><a href="{{ page.next.url }}">Next</a></td>
					</tr>
					</table>
					<p>This article has been posted to social media sites. There might be comments. Just follow the links:</p>
					<div>
						<a class="social-blogging" service="twitter" href="https://twitter.com/snscaimito"><img src="/img/Furry-Cushion-Twitter_48.png" /></a>
						<a class="social-blogging" service="activity_Pub" rel="me" href="https://techhub.social/@snscaimito"><img src="/img/mastodon.svg" width="48" /></a>
					</div>
				</div>
			</div>
			<div class="span3">
        <div class="sidebar">
        	<p class="section">About this article</p>
          <p>Published: {{ page.date | date: '%B %d, %Y' }}</p>
					<p>Posted in:
						{% for category in page.categories %}
							<a class="categoryLink" href="/category/{{ category }}.html">{{ category }}</a>
						{% endfor %}
					</p>
          
        </div>
				{% include main-sidebar.html %}
			</div>
		</div>
	</div>
	{% include scripts.html %}
	<script>
		$(document).ready(function() {
			$('.social-blogging').each(function() {
				const service = $(this).attr('service');
				const url = `/api/posts?articleURL=http://0.0.0.0:4000${window.location.pathname}&service=${service.toUpperCase()}`;

				fetch(url)
					.then(response => {
						if (!response.ok && response.status !== 404) {
							throw new Error(`HTTP error! status: ${response.status}`);
						}

						if (response.status === 404) {
							$(this).hide();
							return;
						}

						return response.json();
					})
					.then(data => {
						console.log('received', data)
						$(this).attr('href', data.socialMediaURL)
					})
					.catch(error => console.error('Error:', error));
			})
		})
	</script>
</body>
</html>
