---
- name: Install and configure BIND9
  hosts: dns
  become: yes
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600 # Optional, to avoid updating cache too frequently

    - name: Install BIND9 and related packages
      ansible.builtin.apt:
        name:
          - bind9
          - bind9utils
          - bind9-doc
        state: present

    - name: Ensure BIND9 is running and enabled on boot
      ansible.builtin.service:
        name: bind9
        state: started
        enabled: yes

    # - name: Deploy main BIND configuration file
    #   ansible.builtin.template:
    #     src: /path/to/your/named.conf.template
    #     dest: /etc/bind/named.conf
    #     owner: root
    #     group: bind
    #     mode: '0640'
    #   notify: restart bind9

  # - name: Deploy zone file for stephan-schwab.com
  #   ansible.builtin.template:
  #     src: /path/to/your/db.stephan-schwab.com.template
  #     dest: /etc/bind/db.stephan-schwab.com
  #     owner: root
  #     group: bind
  #     mode: '0640'
  #   notify: restart bind9

  handlers:
    - name: restart bind9
      ansible.builtin.service:
        name: bind9
        state: restarted
