<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>4Ei2BVUkQqCyVjpjeJE2qA</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2010-02-13T17:42:50Z</date>
		</dict>
		<key>8YH02mhNRUiw6N0xh%ZDlw</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2009-01-18T16:10:14Z</date>
		</dict>
		<key>8s7r1iHoSaqK+txhpl2U1w</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2009-01-18T16:05:03Z</date>
		</dict>
		<key>Ad5gpkWTQPG%iZTSaUxb6g</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2010-02-13T17:44:14Z</date>
		</dict>
		<key>B0xpih3ITMWvf1DwpybtLg</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2009-01-18T16:15:50Z</date>
		</dict>
		<key>Dpc+ETnLQ1el1OgEHW0xgw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2009-01-18T16:11:32Z</date>
		</dict>
		<key>E5ZZm0k6RfqLMlI8niHsxQ</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2010-02-13T17:15:46Z</date>
		</dict>
		<key>N7WlcSr4TzuHFIgYva%2cw</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2009-01-18T16:15:24Z</date>
		</dict>
		<key>NUvwLhObRjuMQ6mJvS9nlg</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2010-02-13T17:39:45Z</date>
		</dict>
		<key>SRiF7lVvRcSsqGJOdsTkDg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2010-02-13T17:20:49Z</date>
		</dict>
		<key>eEiiUeLoQF+JzQAracfNNw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2009-01-18T16:16:01Z</date>
		</dict>
		<key>ffAMTo8PSBye4pNKV4Idow</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2010-02-13T17:31:00Z</date>
		</dict>
		<key>gQ8JJ3MbSwW1vhGyAfXFrQ</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2009-01-18T16:10:32Z</date>
		</dict>
		<key>iJ4I0Z3aQ+a50QkMvGIj7Q</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2009-01-18T16:17:41Z</date>
		</dict>
		<key>pE%8MgzqS1WRZhCI80Xr7g</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2009-01-18T16:14:36Z</date>
		</dict>
		<key>u7jcZsLWStytJ3qtmMfo8Q</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2010-02-13T17:30:04Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
