---
layout: special
title: Fiction
show_x_profile: false
---
<ul class="fiction-articles" aria-label="Fiction articles">
{% for post in site.posts %}
    {% if post.lang == nil or post.lang == 'en' %}
    {% if post.categories contains 'Fiction' or post.categories contains 'fiction' %}
    <li class="fiction-articles__item">
        <a class="fiction-articles__story" href="{{ post.url }}">
            {% include fiction-article-image.html post=post %}
            <span class="fiction-articles__title">{{ post.title }}</span>
            {% include fiction-article-opening.html post=post %}
        </a>
        <p class="fiction-articles__meta">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d %b %Y" }}</time>
        </p>
    </li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>
