<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>06cxpqzuTw2iQz0HvTi6Kw</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2014-12-29T13:48:37Z</date>
		</dict>
		<key>7%A2mM1jSx64%2VFEC%6fQ</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:24Z</date>
		</dict>
		<key>9EwTpFG1S8Wnv7x1UtGJWQ</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2014-12-29T13:43:02Z</date>
		</dict>
		<key>Fnq8GYB5TAKThQ9m3Ep1+g</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:27Z</date>
		</dict>
		<key>K0Fkc6VpTsCPoFMxMXBIKQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:37Z</date>
		</dict>
		<key>MRwlFonjRJW803ApeAuxng</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:37Z</date>
		</dict>
		<key>RR+BGwRJRHyp3xLmb29Mqg</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:26Z</date>
		</dict>
		<key>cMpEccJhQuekRDVJA8rNOw</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:33Z</date>
		</dict>
		<key>g+7f3SWARSObrYBVM1BzWQ</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2010-04-19T03:50:03Z</date>
		</dict>
		<key>gBeuQkGAT0+WlsnCgrjElQ</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2014-12-29T13:41:52Z</date>
		</dict>
		<key>gjIWgVNzQdexcmGtTKPbQQ</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:31Z</date>
		</dict>
		<key>lYzieCGLRMiV2z3eDGXAuQ</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:25Z</date>
		</dict>
		<key>oXBz%EsnSaiCGA27hSOrrQ</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2014-12-29T13:47:22Z</date>
		</dict>
		<key>pmzxGWcJQ1ez%Frh7Dsjxw</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:24Z</date>
		</dict>
		<key>r%XFMratSh2ES5dSsyPj0Q</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:30Z</date>
		</dict>
		<key>wd%Ss04cTaG2EcmuEKtLag</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2014-12-29T13:43:33Z</date>
		</dict>
		<key>zivLf4HmS3inSXrN7wPtcw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2012-09-03T17:33:34Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
