<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>74c5fd83f02ec395a85eadd2c7bfa4c3</string>
	<key>detailSize</key>
	<string>{1024, 1024}</string>
	<key>images</key>
	<dict>
		<key>%6V7p70aQwmu6UoyEDGkzA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>09T3V17zTcqoXhQL2LeO6w</key>
		<dict>
			<key>index</key>
			<integer>29</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>1+6ZIxgiRA2ldy+f4T63Aw</key>
		<dict>
			<key>index</key>
			<integer>35</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>5UmTRrp8Ttmp9SDm4XTH%w</key>
		<dict>
			<key>index</key>
			<integer>31</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>88vcy2PrR7uw99sNoT0VJg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>8B8eWU99Slqy1MwJON4S1g</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>8M4sV3aHR4+hYgt6ggpYfg</key>
		<dict>
			<key>index</key>
			<integer>34</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>8S0wSlryR5u59TBx751qKA</key>
		<dict>
			<key>index</key>
			<integer>26</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>AxoHWvvKRO6ZOkBxdaRW9g</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>BHY7eXgLQ%2zTsDcpfQVPQ</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>Fe%NAH1mTyGwS09Q8B20AQ</key>
		<dict>
			<key>index</key>
			<integer>27</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>Go8OenAtRmGolnQbBiQDYQ</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>HI7z5QCTSOKJhtGmDRdylg</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2017-07-31T11:44:00Z</date>
		</dict>
		<key>HZfJd6L6SxyTBtDTwMjFew</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2017-07-31T11:46:11Z</date>
		</dict>
		<key>I0Ib9ZOkSiCLg+swsLgqnA</key>
		<dict>
			<key>index</key>
			<integer>37</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>J+x69gb8QLC87N80txd6sA</key>
		<dict>
			<key>index</key>
			<integer>28</integer>
			<key>modDate</key>
			<date>2017-07-31T11:48:23Z</date>
		</dict>
		<key>LcEURFV+TWirXlCLIAdcdQ</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>OJC%H1lRRe+Wi5hhVCc1sg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>Tc1im6kdTy64NDQHCr36KQ</key>
		<dict>
			<key>index</key>
			<integer>38</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>U9qaws+rR72yXq8j+r%qfw</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2017-07-31T11:47:28Z</date>
		</dict>
		<key>VLg9GS1+T0mLTowywnmYyA</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>Vu1j2tc6RO63AKqa1ZzKUw</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>Z7hH7zxgQ3q8zxA41wrCdw</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>ZtZ8PZnJTNuV6ExUHL7EOA</key>
		<dict>
			<key>index</key>
			<integer>33</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>aIebmvtBQXuCKKfJHH+X5g</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2017-07-31T11:44:50Z</date>
		</dict>
		<key>afmYl%M4QdW9hEsrV7t8TQ</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>dR5tL6o7RAW3Jm1mj841aw</key>
		<dict>
			<key>index</key>
			<integer>36</integer>
			<key>modDate</key>
			<date>2017-07-31T11:51:12Z</date>
		</dict>
		<key>dhmumtvjQPauKcTxHUtA7w</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>fCjMtQ5uQPmzIP3q39HbVQ</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2017-07-31T11:45:27Z</date>
		</dict>
		<key>fNmDItmcT9aSfBEnKvEaqw</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>i+IfBf+JTGqp6LzK+NRy6A</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2017-07-31T11:43:32Z</date>
		</dict>
		<key>spUQkErmRsebAYw9wcqj9w</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>svXpb1rmTFueZsLxBuREVw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>tROnkBvvRu23dQdpKeRg3A</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>tSlJEqVHQ4Kl4fOJf03bgw</key>
		<dict>
			<key>index</key>
			<integer>30</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
		<key>uNJcPM2iRjOkX+jTErMIDw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2017-07-31T11:29:21Z</date>
		</dict>
		<key>vu7HVOu7RdmzV+QA6JEyhA</key>
		<dict>
			<key>index</key>
			<integer>32</integer>
			<key>modDate</key>
			<date>2017-07-31T11:49:10Z</date>
		</dict>
		<key>yaF7gaeyTZq7+oALeal+Lg</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2017-07-31T11:31:27Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>9febe6c7f42ea4b8908768ced100bcdf</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
