<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>
	<div class="container">
    <div class="header">
      <p class="name">Stephan Schwab</p>
      <div class="claim-box">
        <p class="claim">Tales about Aviation, Coaching, Farming, Software Development</p>
      </div>
    </div>
		{% include welcome.html %}
		{{ content }}
	</div>
	{% include scripts.html %}
    <script type="text/javascript">
     /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
     var disqus_shortname = 'stephanschwab'; // required: replace example with your forum shortname

     /* * * DON'T EDIT BELOW THIS LINE * * */
     (function () {
         var s = document.createElement('script'); s.async = true;
         s.type = 'text/javascript';
         s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
         (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
     }());
     </script>
</body>
</html>
