<html>
{% include head.html %}

<body>
	<div class="container">
		{% include header.html %}
		<div class="row">
			<div class="span9">
				<div class="post">
					<h1>{{ page.title }}</h1>
          {{ content }}
					<table class="postfooter" style="width: 100%">
					<tr>
						<td style="text-align: left; width: 33%"><a href="{{ page.previous.url }}">Previous</a></td>
						<td style="text-align: center; width: 33%">{{ page.date | date: "%d %b %Y" }}</td>
						<td style="text-align: right; width: 33%"><a href="{{ page.next.url }}">Next</a></td>
					</tr>
					</table>
					<p>
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="snscaimito">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						
						<script src="//platform.linkedin.com/in.js" type="text/javascript">
						  lang: en_US
						</script>
						<script type="IN/Share"></script>
					</p>

            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = '{{ site.url }}' + '{{ page.url }}' ;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.id }}' ; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://stephanschwab.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				    
    
				</div>
			</div>
			<div class="span3">
        <div class="sidebar">
        	<p class="section">About this article</p>
          <p>Published: {{ page.date | date: '%B %d, %Y' }}</p>
					<p>Posted in:
						{% for category in page.categories %}
							<a class="categoryLink" href="/category/{{ category }}.html">{{ category }}</a>
						{% endfor %}
					</p>
          
        </div>
				{% include main-sidebar.html %}
			</div>
		</div>
	</div>
	{% include scripts.html %}
</body>
</html>
