<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>BiUrnSRkSzmPfYQ5dwWlng</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2009-04-14T02:30:19Z</date>
		</dict>
		<key>CBneEE+HRa6%2j8wcPJ7gQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2009-04-14T02:28:03Z</date>
		</dict>
		<key>Fwd6pYXuTD6u4sg0olTBPQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2009-04-14T02:29:25Z</date>
		</dict>
		<key>JRX9Seg6RNy1XgK25VNHtg</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2009-05-15T15:56:14Z</date>
		</dict>
		<key>KVj5mjbHR860zR2mQZ7FUg</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2010-12-12T03:24:03Z</date>
		</dict>
		<key>Li+bsgaLTAaCn+A88757oA</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2009-04-14T02:28:29Z</date>
		</dict>
		<key>OBl9xeTuRhSR6PIx3SajlQ</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2009-04-14T02:31:11Z</date>
		</dict>
		<key>OkJJ+44KRSOIDgGcONTRKA</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2009-04-14T02:28:03Z</date>
		</dict>
		<key>UCF01kU7SGyeabBLb5ifkg</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2009-04-14T02:30:46Z</date>
		</dict>
		<key>Uty0TB13S56It6PNuPeNxA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2009-04-14T02:27:36Z</date>
		</dict>
		<key>UxFtFJzDQfKwTCEzL4j81A</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2009-05-15T15:56:14Z</date>
		</dict>
		<key>ZH1QD66WRC+vCOxe0obGnw</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2009-05-15T15:56:39Z</date>
		</dict>
		<key>ZsdEXgIfQO2KDpkRlaUhmw</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2009-05-15T15:56:39Z</date>
		</dict>
		<key>bS8ANV+sQrOaoi1fjuG0DA</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2011-01-04T17:21:43Z</date>
		</dict>
		<key>fYFloMmXRWmpoOEh+7yC%g</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2010-12-12T03:28:44Z</date>
		</dict>
		<key>ilQH3GbeSZuyepKBlwU1xw</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2010-12-12T03:20:13Z</date>
		</dict>
		<key>x0qyOGIvRwORqbVFh%JKDw</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2009-04-14T02:33:24Z</date>
		</dict>
		<key>xHG7LMUSTCK694WefNeJNw</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2009-04-14T15:17:42Z</date>
		</dict>
		<key>zeE4ljrqSSexWVQzhaSW7g</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2009-04-14T02:28:57Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
