name: Blog Deploy

on:
  push:
    paths:
      - '.github/workflows/main.yml'
      - 'content/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.1
        with:
          ssh-private-key: ${{ secrets.GHA_PRIVATE_KEY }}

      - name: SCP files
        run: |
          ssh gha@social.caimito.eu mkdir -p /home/gha/content
          scp -r content gha@social.caimito.eu:/home/gha/

      - name: Start Docker
        run: |
          ssh gha@social.caimito.eu docker-compose up -d

