name: Run Ansible Playbook

on:
  workflow_dispatch: # Manually run the workflow
  push:
    paths:
      - 'ansible/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.GHA_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        echo "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  
    - name: Run Ansible Playbook
      run: |
        export ANSIBLE_HOST_KEY_CHECKING=false
        ansible-playbook -i hosts.ini main.yml
        