body {
	font-size: 10pt;
	margin: 0;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 12pt;
}

h3 {
	font-size: 11pt;
}

h4 {
	font-size: 10pt;
}

p, li {
	font-size: 10pt;
}

.post p, .post li, .post DD {
	font-size: 10pt;
}

DIV.container {
	margin: 0;
	display: block;
}

.footer, .featured-categories, .no-print-sidebar, .no-print, .sidebar, .print-button, .showcase {
	display: none;
}

H1 {
	margin-top: 0.5em;
	margin-bottom: 3em;
}

H1, H2, H3, H4, DT {
	page-break-after: avoid;
}

DIV.overview {
	margin-bottom: 5em;
}

DIV.overview UL {
	margin-top: 1em;
}