.footer, .featured-categories, .no-print-sidebar, .no-print, .sidebar {
	display: none;
}

.post P, .article P, .article TD, .article TH, .article UL {
}

H1 {
	margin-top: 3em;
	margin-bottom: 3em;
}

H1, H2, H3, H4, DT {
	page-break-after: avoid;
}

DIV.overview {
	margin-bottom: 5em;
}

DIV.overview UL {
	margin-top: 1em;
}