body {
	font-size: 10pt; /* Adjust base font size for print */
	margin: 0; /* Adjust margins for print */
}

h1 {
	font-size: 14pt; /* Adjust heading font sizes for print */
}

h2 {
	font-size: 12pt;
}

h3 {
	font-size: 11pt;
}

h4 {
	font-size: 10pt;
}

p, li {
	font-size: 10pt; /* Adjust paragraph and list item font sizes for print */
}

/* Ensure .post p and .post li use the print font size */
.post p, .post li, .post DD {
	font-size: 10pt;
}

DIV.container {
	margin: 0;
	display: block;
}

.footer, .featured-categories, .no-print-sidebar, .no-print, .sidebar {
	display: none;
}

H1 {
	margin-top: 0.5em;
	margin-bottom: 3em;
}

H1, H2, H3, H4, DT {
	page-break-after: avoid;
}

DIV.overview {
	margin-bottom: 5em;
}

DIV.overview UL {
	margin-top: 1em;
}