body {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-family: sans-serif;
	margin: 0;
}

DIV.container {
	margin-left: 2%;
	margin-right: 2%;
}

.content-item {
	flex-basis: 200px;
}

DIV.with-sidebar {
	display: flex;
}

@media screen and (max-width: 479px) {
	.header .claim-box {
		display: none;
	}

	.sidebar {
		display: none;
	}
}

@media screen and (max-width: 979px) {
	.header .claim-box {
		display: none;
	}
}

.post {
	flex-grow: 6;
}

.sidebar {
	padding-left: 2em;
	flex-grow: 1;
}

.sidebar FORM {
	margin-left: 10px;
	margin-right: 10px;
}

.section {
	margin-top: 25px;
	font-size: 14px;
	text-transform: uppercase;
	color: #AB1413;
	border-bottom: 1px dotted black;
}

.post,
TD.post {
	margin-bottom: 2em;
	line-height: 16pt;
}

.post H1 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
}

.post H2 {
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: -3px;
	text-align: center;
}

.post H3 {
	font-size: 1em;
	margin-bottom: -3px;
}

.post P,
.article P,
.article TD,
.article TH,
.article UL,
DD {
	line-height: 1.5em;
	text-align: justify;
}

TABLE {
	margin-bottom: 1em;
}

TD {
	padding: 2px;
}

.post P IMG {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.article UL {
	text-align: left;
}

.align-right {
	float: right;
	margin: 0 0 15px 15px;
}

.align-left {
	float: left;
	margin: 0 0 0 0;
	padding-right: 15px;
	padding-bottom: 15px;
}

TABLE.postfooter {
	border-top: thin dotted black;
}

TABLE.postfooter TD {
	font-size: 10pt;
}

A {
	color: #0000CC;
}

A:hover {
	text-decoration: underline;
}

.categories {}

.vertical {}

UL.horizontal {
	text-align: center;
	font-size: small;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

UL.horizontal LI {
	display: inline;
	padding-right: 5px;
}

.post BLOCKQUOTE P,
.post BLOCKQUOTE UL LI {
	font-size: 12pt;
	text-align: left;
	line-height: 16pt;
}

BLOCKQUOTE.resume {
	width: 80%;
}

BLOCKQUOTE.resume P {
	font-size: 12pt;
	line-height: 18pt;
}

BLOCKQUOTE.resume P.quote-source {
	font-weight: bold;
}

DT {
	font-weight: bold;
	margin-top: 1.5em;
}

DL.resume DT {
	color: #0E6A01;
	border-bottom: 1px dotted black;
}

DL.resume DD P.client {
	font-weight: bold;
}

DL.resume-inner DT {
	color: #000000;
	font-weight: bold;
	border-bottom: none;
	margin-bottom: 5px;
}

DL DT {
	margin-top: 1em;
}

DL DD {
	margin-top: 0.5em;
}

DIV.overview {
	display: grid;
	grid-template-columns: 1fr 1fr;
	white-space: wrap;
	font-weight: bold;
	gap: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}


UL.special-content {
	list-style-type: square;
}

UL.special-content LI {
	font-size: smaller;
}

DIV.article H1,
DIV.article H2,
DIV.article H3,
DIV.post H1,
DIV.post H2,
DIV.post H3 {
	color: #AB1413;
}

DIV.article H1,
DIV.post H1,
H1.overview-headline {
	text-transform: uppercase;
	font-size: 22pt;
}

DIV.article H2,
DIV.post H2 {
	text-transform: uppercase;
	font-size: 14pt;
	margin-bottom: 6pt;
	line-height: 20pt;
	margin-top: 1.5em;
}

DIV.article H3,
DIV.post H3 {
	font-size: 12pt;
	margin-bottom: 0px;
	line-height: 18pt;
}

DIV.article H4,
DIV.post H4 {
	font-size: 12pt;
	margin-bottom: 1em;
	line-height: 18pt;
}

.article TH {
	text-align: left;
}

.article TH,
.article TD {
	padding-right: 10px;
}

pre {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

DIV.ale_news_post_header,
DIV.ale_news_post_footer,
DIV.related_articles {
	background: #FFFEC9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

DIV.ale_news_post_header {
	padding-bottom: 0px;
	position: relative;
	float: right;
	width: 350px;
	margin-left: 20px
}

DIV.ale_news_post_header,
DIV.ale_news_post_footer,
DIV.related_articles P {
	margin-bottom: 0px;
}

DIV.ale_news_post_footer H2 {
	margin-top: 0;
}

TABLE.article-overview {
	margin-bottom: 0;
}

TABLE.article-overview TR {
	vertical-align: top;
}

TABLE.article-overview TD {
	font-size: 10pt;
	line-height: 10pt;
	padding-bottom: 4px;
}

.features-block {
	margin-left: 1em;
	margin-bottom: 2em;
}

.features {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: flex-start;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 1em;
}

.featured-categories {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-evenly;
}

.featured-categories > DIV {
	flex: 1 1 calc(50% - 1em); 
	box-sizing: border-box;
}

P.featured-category {
	margin-top: 0;
}

.footer {
	background-color: #F2F2F2;
}

.header {
	background-image: url("/img/header.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #CEE2FA;
	height: 163px;
	margin-bottom: 1em;
}

.header A {
	color: black;
}

.header A:hover {
	color: red;
}

.menu {
	display: flex;
	padding-top: 1em;
	justify-content: center;
}

.menu A {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

@media screen and (max-width: 479px) {
	.menu {
		font-size: 12pt;
	}
}

.header .name {
	color: black;
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	padding-top: 18px;
}

.header .claim-box {
	position: relative;
	top: 69px;
	opacity: 0.6;
	background-color: white;
	height: 31px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	opacity: 0.6;
}

.header H1,
.header H2 {
	text-align: center;
}

.header H2 {
	font-size: 16pt;
}

A.categoryLink {
	text-transform: uppercase;
	color: #AB1413;
}

TABLE {
	margin-left: auto;
	margin-right: auto;
}

TABLE.article-overview {
	margin-left: 0;
	margin-right: 0;
}

UL#nav {
	text-align: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

UL#nav LI {
	display: inline;
	padding-right: 5px;
}

DIV#navrow {
	margin-bottom: 15px;
}

UL#photoInfo {
	margin-top: 15px;
}

FIGCAPTION {
	margin-top: 10px;
	text-align: center;
}

.resume TABLE TH {
	white-space: nowrap;
}

#gallery {
	margin-top: 20px;
	margin-bottom: 20px;
}

DIV.link-tree {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

DIV.link-tree IMG {
	width: 300px;
}

DIV.showcase {
	border-radius: 0.5em;
	border-color: #848383;
	border-width: thin;
	border-style: dashed;
	padding: 0.5em;
	margin: 1em;
}

DIV.showcase H3 {
	text-align: left;
  color: black;
	margin-bottom: 0.5em;
}

BUTTON.print-button {
	background-color: #1394ab;
	color: white;
	font-size: 1em;
	padding: 0.75em 1.5em;
	border: none;
	border-radius: 0.25em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

BUTTON.print-button:hover {
	background-color: #117a91;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

BUTTON.print-button:active {
	background-color: #0e5f6e;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}