<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{960, 960}</string>
	<key>images</key>
	<dict>
		<key>+pAB0kXCSGWMHX8nMuy3Iw</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2010-02-13T17:36:55Z</date>
		</dict>
		<key>5SsJCw5kQC+7D4Z5f9rRDQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2007-12-15T18:53:08Z</date>
		</dict>
		<key>7NVwZn48T4KJYcFXCzXv2A</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2010-02-13T17:32:08Z</date>
		</dict>
		<key>9h0dZH%vTFOYEjIeaqOf%w</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2007-12-15T18:54:21Z</date>
		</dict>
		<key>CEzyNdZjRkeOsvXZq77W5g</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2007-12-15T18:52:09Z</date>
		</dict>
		<key>Gwr1MUZnTAmIDVIjQDmpwA</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2007-12-15T18:53:20Z</date>
		</dict>
		<key>JEXg8otlSmqKVt9Q3%llbQ</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-12-15T18:53:33Z</date>
		</dict>
		<key>NiKm1841QniwgHnmNn1bgA</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2007-12-15T19:45:19Z</date>
		</dict>
		<key>O8IuvwfIQ0yGZmoTjZ8I7Q</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2007-12-15T19:43:19Z</date>
		</dict>
		<key>PKK4mEDLSvKALS6mfPXbWw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2007-12-15T18:53:15Z</date>
		</dict>
		<key>PQMfd5yCT7uY2OhSgvsWOA</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2007-12-15T18:53:36Z</date>
		</dict>
		<key>Pvg%%V7DR2iiN6LjxbRRPw</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-12-15T18:53:25Z</date>
		</dict>
		<key>dLiVJZ8mS%aBRAhcVBvWCg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2007-12-15T18:54:01Z</date>
		</dict>
		<key>lvB6rPLORrOlJVunuz10zQ</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2007-12-15T18:52:45Z</date>
		</dict>
		<key>pv93Bx2FQ9u1wYiqwl+LtA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2007-12-15T18:52:27Z</date>
		</dict>
		<key>wjzcr72OQ5W%uCkS1RfcSg</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2007-12-15T18:52:33Z</date>
		</dict>
		<key>yF%fgua9SEWJlfVO+gb0fg</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-12-15T18:54:13Z</date>
		</dict>
		<key>za%QRdx0QU2WJDR7ByDjCQ</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2010-02-13T17:11:59Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>ea07dd68dce23a0c122f6387ba2d069b</string>
	<key>thumbSize</key>
	<string>{250, 250}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
